.BadgeForm{
    width: 450px;
    border: 1px solid gray;
    padding: 50px;
    border-radius: 15px;
}

.Submit_Button{
    margin-top: 15px;
    background-color: mediumseagreen;
    padding: 10px 40px;
    border-radius: 5px;
    display: block;
    align-self: center;
    border: 2px solid green;
}

.Submit_Button:hover{
    background-color: goldenrod;
    color: white;
    font-weight: bold;
}